*{
    margin: 0;
    padding: 0;
}
.banner-container {
    background-image: url('/jacques-dillies-2wZqKNuz2rQ-unsplash\ \(1\).jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.banner-container h1 {
    font-size: 3rem;
    color: whitesmoke;
    font-weight: bold;
}